.bg-main{
	background-color: #cce6ff;
}
.mt {
	margin-top: 10px;
}
.avatar{
	padding: .25rem;
    background-color: #fff;
    border: 2px solid #a0333a;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.p{
	padding:10px;
}
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.di{
	display: inline;
}
.nav-img{
	height: 35px;
	width: 35px;
}
.li-none{
	list-style-type: none;
}
.overlay {
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;
    position: fixed;
    opacity: .98;
}
.loader-text{
	top: 55%;
    left: 45%;
    position: absolute;
}
/*loader style*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #c94c4c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*loader style end*/